body{
    font-family: sans-serif;
    margin:0;
    background-image: url("../imagenes/nosotros/fondo R.jpg");
}

/**********************************************************/
#nosotros{
    margin: -50px 300px -50px 300px;
    color: black;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.division img {
    width: 200px;
    height: 200px;
}
/*****/
.Nosotros{
    text-align: justify;
    width: 100%;
    height: 500px;
}
.Nosotros tr td{
    /*border: 2px solid black;*/
    background-color: rgba(0, 0, 0, 0.411);
    color: white;
    align-content: center;
}
.Nosotros img{
    height: 300px;
    border-radius: 20px;
    border: 4px solid #003e5efb;
    align-items: center;
}
.centrar{
    text-align: center;
}
.centrar ul li{
    list-style: none;
}
.parrafo{
    margin-left: 10%;
    margin-right: 10%;
}
/**********************************************************/
