body{
    font-family: sans-serif;
    margin:0;
    background-image: url("imgenes/fondo\ R.jpg");
}
/***********************************************************************/
.grid{
    position: relative;
    display: grid;
    width: 100%;
    height: 60px;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}
.grid div{
    padding-top: 6%;
    background-color: #45B6ED;
}
.grid div:hover{
    border-right: 1px solid black;
    border-left: 1px solid black;    
}
.grid div a{
    color:white;
    text-decoration: none;
    padding-top: 30px;
    padding-bottom:30px;
    padding-left: 10%;
    padding-right: 10%;
}
/**********************************************************/
.imagen{
    border-radius: 40px;
    width: 100%;
    align-self: center;
}
.container{
    width: 90%;
    height: 100%;
    position: relative;
    display: flex;
    margin: 5%;
    align-self: center;
    border: 2px solid black; 
    background-color: rgba(255, 255, 255, 0.479);
}
.bloq1{
    display: flexblox;
    width: 100%;
    height: 100%;
   
    position: relative; 
}
.centrear{
    text-align: center;
    align-content: center;
}
.precio{
    font-size: 20px;
    color:#ffffff;
    margin-top: -12px;
    /*position:static;*/
    border: 2px solid black;
    border-radius: 10px;
    background-color: #45B6ED;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.imag{
    position: relative;
    height: 100%;
    width: 90%;
}
.titulo{
    font-size: 30px;
    color:#ffffff
}
